<style>
  .centrar-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Ajusta la altura según sea necesario */
  }
</style>

<div class="centrar-imagen">
  <img class="e404-image" src="assets/images/e404.jpeg" alt="Imagen de error 404">
</div>


<style>
  .centrar-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajusta la altura según sea necesario */
  }
  .centrar-imagen{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto asegura que la imagen ocupe toda la altura de la pantalla */
  }

  .login-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: darkblue;
  }

  .active-link {
    background-color: darkblue;
  }

  @media screen and (max-width: 768px) {
    .centrar-imagen,
    .centrar-botones {
      height: auto;
    }

    .e404-image {
      width: 100%; /* Hace que la imagen ocupe el ancho completo del contenedor */
      height: auto;
    }
  }

</style>

<div class="centrar-botones">
  <button class="login-button" routerLink="/" routerLinkActive="active-link">VOLVER AL LOGIN</button>
</div>
