<!DOCTYPE html>
<html lang="es">
    <app-header></app-header>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes - Clínica Dental</title>
    <link rel="stylesheet" href="preguntas.component.css">
</head>
    

<body>

    <div *ngFor="let pregunta of preguntas">
        <h3>{{ pregunta.preguntas }}</h3>
        <p>{{ pregunta.respuestas }}</p>
      </div>
      
      

   
</body>
<app-footer></app-footer>
</html>