* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


/*IMAGEN*/
.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    position: relative; /* Añadimos posición relativa para poder posicionar el div con la imagen */
    overflow: hidden; /* Para ocultar partes de la imagen que se salgan del contenedor */
}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: cambiarImagen 10s infinite; /* Animación para cambiar la imagen cada 10 segundos */
}

@keyframes cambiarImagen {
    0% { background-image: url('/assets/images/dentist2.jpg'); } /* Primera imagen */
    33% { background-image: url('/assets/images/dentist3.jpg'); } /* Segunda imagen */
    66% { background-image: url('/assets/images/dentist4.jpg'); } /* Tercera imagen */
    100% { background-image: url('/assets/images/dentist2.jpg'); } /* Volver a la primera imagen */
}
/* media queries */
@media (max-width:991x) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #1367c2;
        font-weight: bold;
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;

    }

    .home .content span {
        font-size: 2.5rem;

    }
}

/* media queries */
@media (max-width:450x) {

    html {
        font-size: 50%;
    }
}



/* SERVICIOS */


/*Cards*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #646363;
    font-size: 50px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
    margin: 10px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido-card {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #535151;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #1367c2;
    border: 1px solid #1367c2;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #1367c2;
    color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card {
        flex-wrap: wrap;
    }

    .card {
        margin: 20px;
    }
}

/*Fin-Cards*/





.btn {
    color: #1367c2;

    text-decoration: none;
    border: 2px solid #1367c2;
    padding: 10px 20px;
    font-size: 17px;

    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    border-radius: 4px;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #1367c2;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}