<app-headerpublico></app-headerpublico>
<title>Aviso de Privacidad - Consultorio Dental Crown</title>
<link rel="stylesheet" href="politicacookiespublico.component.css">
<body>

  <header>
    

    <h1>Consultorio Dental Crown</h1>
    <p>Con domicilio en calle Clavel, colonia Aviación Civil, ciudad Huejutla de Reyes, municipio o delegación Huejutla
      de Reyes, C.P. 43000, en la entidad de Hidalgo, país México</p>
  </header>
  <section>
    <h2>Política de cookies</h2>
    <p>Esta Política de cookies explica cómo el sitio de la Clínica DentalCrown utiliza cookies y tecnologías similares para reconocerlo cuando visita nuestra aplicación, incluidas, entre otras, cualquier URL relacionada, móvil o localizada. versiones y dominios/subdominios relacionados ("Sitios web"). Explica qué son estas tecnologías y por qué las utilizamos, así como las opciones sobre cómo controlarlas.</p>
    
    <h3>¿Qué es una cookie?</h3>
    <p>Las cookies son archivos de texto que un sitio web envía al navegador de un usuario, con datos sobre su perfil y comportamiento de navegación en las páginas. El objetivo de las cookies es recordar la información de la visita para facilitar la próxima visita y mejorar su navegación en el sitio web.</p>
    <p>Las cookies son esenciales en el Marketing Digital porque te permiten crear una experiencia de usuario más relevante y mejorar su relación con la marca. Las cookies se utilizan, por ejemplo, para recordar el idioma preferido del usuario, comprender el perfil de los visitantes del sitio web, mostrar anuncios más relevantes y personalizar las ofertas de la tienda en línea.</p>
    
    <h3>¿Por qué utilizamos cookies?</h3>
    <p>En general, las cookies sirven para mejorar la experiencia de navegación web. Pero pueden hacer esto de diferentes maneras.</p>
    <ul>
      <li>Registrar información y preferencias del usuario en el sitio web.</li>
      <li>Para facilitar el funcionamiento y la funcionalidad de nuestra aplicación.</li>
      <li>Aumentar la seguridad del sitio web.</li>
      <li>Analizar el perfil de los visitantes del sitio web.</li>
      <li>Identificar prospectos futuros y personalizar las interacciones de marketing y ventas con ellos.</li>
    </ul>
    
    <h3>¿Qué tipos y categorías de cookies se utilizarán?</h3>
    <p><strong>Cookies necesarias</strong></p>
    <p>Estas cookies son esenciales para el funcionamiento del sitio web y permiten a los usuarios navegar y utilizar funciones básicas. Garantizan la funcionalidad básica del sitio, permitiendo la navegación y el acceso a áreas seguras.</p>
    <p>Sin ellos no podrías utilizar los servicios básicos. Puede desactivarlos cambiando la configuración de su navegador, pero esto puede afectar el funcionamiento de los sitios web.</p>
    <ul>
      <li>Cookies de sesión</li>
      <li>Cookies de autenticación</li>
      <li>Cookies de seguridad</li>
      <li>Cookies de preferencias de idioma</li>
    </ul>
    
    <p><strong>Cookies de preferencias</strong></p>
    <p>Estas cookies permiten al sitio web recordar información que cambia la forma en que se comporta o se ve el sitio, como su idioma preferido o la región en la que se encuentra.</p>
    
    <p><strong>Cookies estadísticas</strong></p>
    <p>Estas cookies ayudan a entender cómo interactúan los visitantes con el sitio web, recopilando y reportando información de forma anónima.</p>
    
    <p><strong>Cookies de marketing</strong></p>
    <p>Estas cookies se utilizan para rastrear a los visitantes en los sitios web. La intención es mostrar anuncios relevantes y atractivos para el usuario individual y, por lo tanto, más valiosos para editores y anunciantes de terceros.</p>
    
    <h3>La duración de cada cookie y rastreador</h3>
    <p>Cada cookie se clasifica según su duración específica:</p>
    <ul>
      <li>Cookies de Sesión: Temporales y activas solo durante la sesión del usuario.</li>
      <li>Cookies Persistentes: Permanecen en el dispositivo después de cerrar el navegador, con una duración específica que se detalla para cada tipo de cookie.</li>
    </ul>
    
    <h3>Las categorías de datos/información personal que cada cookie recopila y procesa</h3>
    <p>Las cookies recopilan información técnica, preferencias del usuario y patrones de navegación, pero no recopilan datos personales identificables:</p>
    <ul>
      <li>Cookies Necesarias: No recopilan datos personales, centrándose en funciones esenciales.</li>
      <li>Cookies de Preferencias: Pueden incluir preferencias de idioma y configuraciones regionales.</li>
      <li>Cookies Estadísticas: Recopilan datos anónimos sobre la interacción del usuario con el sitio.</li>
      <li>Cookies de Marketing: Pueden incluir información personal identificable relacionada con la segmentación publicitaria.</li>
    </ul>
    
    <h3>¿Cómo gestionar las cookies?</h3>
    <p>La mayoría de los navegadores ofrecen la opción de gestionar las cookies a través de las preferencias de configuración. No obstante, restringir la capacidad de los sitios web para establecer cookies podría afectar negativamente su experiencia general, ya que la personalización para usted se vería limitada. Además, esto podría impedirle almacenar configuraciones personalizadas, como la información de inicio de sesión. Los fabricantes de navegadores suelen proporcionar páginas de ayuda dedicadas a la gestión de cookies en sus productos.</p>
    
    <h4>Bloquear y deshabilitar cookies</h4>
    <p>Donde quiera que se encuentre, tiene la opción de ajustar la configuración de su navegador para evitar la recepción de cookies. Sin embargo, esta medida puede interferir con nuestras cookies esenciales y afectar el funcionamiento adecuado de nuestra aplicación. Es posible que no pueda aprovechar todas las funciones y servicios por completo. Es importante tener en cuenta que bloquear las cookies en su navegador también podría resultar en la pérdida de información almacenada, como detalles de inicio de sesión guardados y preferencias del sitio. Cabe mencionar que los diferentes navegadores proporcionan diversos controles, y al deshabilitar una cookie o categoría de cookies, la cookie no se eliminará automáticamente; esa acción deberá realizarse manualmente desde la configuración de su navegador. Se recomienda visitar el menú de ayuda del navegador para obtener instrucciones específicas sobre este proceso.</p>
    
    <h3>Cambios en nuestra política de cookies</h3>
    <p>Podemos modificar tanto nuestro servicio como nuestras políticas, lo que podría requerir ajustes en esta Política de cookies para que refleje de manera precisa nuestro servicio y nuestras políticas. A menos que la ley establezca lo contrario, le informaremos, por ejemplo, a través de nuestro servicio, con antelación sobre cualquier cambio en esta Política de cookies y le proporcionaremos la oportunidad de revisarlos antes de su implementación. Si decide seguir utilizando el servicio después de estos cambios, estará sujeto a la versión actualizada de la Política de cookies. En caso de que no desee aceptar esta o cualquier versión actualizada de la Política de cookies, tiene la opción de eliminar su cuenta.</p>
    
    <h3>Consentimiento a las cookies</h3>
    <p>Los usuarios finales pueden dar su consentimiento a las cookies al acceder por primera vez al sitio web. Proporcionamos opciones claras para que acepten o rechacen las cookies y ofrecemos la capacidad de cambiar su configuración en cualquier momento a través de la configuración del navegador.</p>
    <p>Al utilizar nuestra aplicación y registrar una cuenta, por la presente usted acepta nuestra Política de cookies y acepta sus términos.</p>
    
    <h3>Contáctanos</h3>
    <p>Clínica DentalCrown</p>
    <p>Correo electrónico: <a href="mailto:marcollanos91@hotmail.com"></a></p>
    <p>Teléfono: 8332367591</p>
    

  </section>
  <footer>
    <p>Última actualización: 23/09/2023</p>
  </footer>
</body>

<app-footerpublico></app-footerpublico>
