body {
  background-color: rgb(206, 205, 205);
  
}

header{
  background-color: rgb(206, 205, 205);
}


.contenedor{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width: 450px;
  max-width: 500px; /* Limitamos el ancho del formulario */
  background: #fff;
  border-radius: 35px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #193d63, #1367c2);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
  text-align: center;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid rgb(146, 142, 142);
  border-radius: 10px;
  transition: all 0.3s ease;
  
}
.field {
  position: relative;
}

.navbar {
  background-color: #1367c2;
  padding: 18px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  
}


.wrapper form .field input:focus,
form .field input:valid{
  border-color: #1367c2;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #1367c2;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background:  #1367c2;
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}

form .signup-link{
  color: #161515;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #1833ac;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

.logo img {
  max-width: 100%;
  height: auto;
  text-align: center;
}


.title {
  text-align: center;
}

.error-message {
  text-align: left; /* Alinea el texto a la izquierda */
}

button {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px
}

button:disabled {
  background-color: rgb(150, 144, 144);
  cursor: not-allowed;
}

button:enabled {
  background-color: #092b50;
}