header {
    padding: 10px;
    background-color: #1367c2;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.row {
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    max-width: 100%;
    height: auto;
  }



  
.container{
    width: 100%;
  padding: 0 20px; /* Agrega espaciado opcional a los lados */
  box-sizing: border-box;
}

.menu ul li{
    list-style-type: none;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
}
.menu ul li:hover{
    color: #5dc1e9;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

@media only screen and (max-width:999px){
    .menu{
        position: fixed;
        right: -258px;
        top:64px;
        width: 100%;
        height: 100%;
        background: #1367c2;
        transition: 0.2s ease-in-out;
    }
    .menu ul li{
        display: block;
        text-align: left;
        margin: 0;
        padding: 10px 0 10px 26px;
        border-bottom: 1px solid #2c65ebab;
    }
    .menu_icon{
        display: inline-block;
        position: relative;
        right: 0;
        top: 20px;
        
    }
    .menu_icon span{
        width: 32px;
        height: 3px;
        background: #fff;
        display: block;
        transition: 0.2s ease-in-out;
    }
    .menu_icon span:nth-child(2){
        margin: 4px 0; 
    }
    .menu_icon_Class span:nth-child(2){
        display: none;
    }
    .menu_icon_Class span:nth-child(1){
        transform: rotate(40deg);
    }
    .menu_icon_Class span:nth-child(3){
        transform: rotate(-40deg);
        margin-top: -3px;
    }
    .menuClass{
        right: 0;
        transition: 0.4s ease-in-out;
    }
    

}