<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="headeradmon.component.css">
</head>
<body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-3">
            <div class="logo">
              <img [src]="logoblanco"[style.width.px]="200" [style.height.px]="100">
            </div>
          </div>
          <div class="col-md-9 col-sm-9 col-9" style="text-align: end;">
            <div class="menu_icon" [class.menu_icon_Class]="menu_icon_variable" (click)="openMenu()">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="menu" [class.menuClass]="menuVariable">
              <ul>
                <br>
                <li routerLink="/user/inicio" routerLinkActive="active-link">Inicio General</li>

                <li routerLink="/user/admoninformacion" routerLinkActive="active-link">Editor ¿Quiénes somos?</li>
                <li routerLink="/user/admonpreguntas" routerLinkActive="active-link">Editor Preguntas</li>
                <li routerLink="/user/admonusuarios" routerLinkActive="active-link">Todos los Usuarios</li>
                <li routerLink="/user/admoncitas" routerLinkActive="active-link">Todas las citas</li>
                <li routerLink="/user/admonservicios" routerLinkActive="active-link">Todos los servicios</li>


             

                <button (click)="cerrarSesion()">Cerrar sesion</button>
              </ul>

    <!-- Agregar breadcrumbs después del menú -->
    <div class="container">
     <app-breadcrumbs></app-breadcrumbs>
    </div>
            </div>
          </div>
        </div>
      </div>
      </header>
</body>
</html>
