<app-headerpublico></app-headerpublico>

<title>Aviso de Privacidad - Consultorio Dental Crown</title>
  <link rel="stylesheet" href="avisoprivacidadpublico.component.css">
<body>


  <header>

    <h1>Consultorio Dental Crown</h1>
    <p>Con domicilio en calle Clavel, colonia Aviación Civil, ciudad Huejutla de Reyes, municipio o delegación Huejutla
      de Reyes, C.P. 43000, en la entidad de Hidalgo, país México</p>
  </header>
  <section>
    <h2>Aviso de Privacidad</h2>
    <h3>¿Para qué fines utilizaremos sus datos personales?</h3>
    <p>
      Utilizaremos su información personal para las siguientes finalidades que son necesarias para el servicio
      solicitado, pero que nos permiten y facilitan brindarle una mejor atención:
    </p>
    <ul>• Historial Médico</ul>
    <ul>• Agenda de citas</ul>
    <ul>• Contacto</ul>

    <p>
      La negativa para el uso de sus datos personales para estas finalidades NO podrá ser motivo para que le neguemos
      los servicios y productos que solicita o contrata con nosotros.
      De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son
      necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:
    </p>
    <ul>• Publicidad</ul>
    <p>En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento
      usted nos puede comunicar lo anterior a través del siguiente mecanismo: Correo electrónico: Número telefónico:
      8332367591
    </p>

    <p>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le
      neguemos los servicios y productos que solicita o contrata con nosotros.</p>

    <h3>¿Qué datos personales utilizaremos para estos fines?</h3>
    <p>Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes
      datos personales:</p>
    <ul>• Datos de identificación</ul>
    <ul>• Datos de contacto</ul>
    <p>Además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente Aviso de
      Privacidad utilizaremos los siguientes datos personales considerados como sensibles, que requieren de especial
      protección:</p>

    <ul>Datos dentales; tales como historial clínico dental, enfermedades o padecimientos previos o crónicos entre
      otros.</ul>

    <h3>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?</h3>
    <p>Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones
      del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso
      de que esté desactualizada, sea inexacta o incompleta
      (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está
      siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus

      datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
    </p>
    <p>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del
      siguiente medio:

      Realizar una llamada telefónica al 8332367591 o acudir directamente al consultorio dental.
    </p>

    <p>Con relación al procedimiento y requisitos para el ejercicio de sus derechos ARCO, le informamos lo siguiente:

      Su solicitud deberá contener al menos la siguiente información:
    </p>
    <ul>• Nombre completo y correo electrónico para comunicarle la respuesta a su solicitud.</ul>
    <ul>• Documentos que acrediten su identidad.</ul>
    <ul>•	Descripción clara de los datos personales en los que busca ejercer alguno de los derechos antes mencionados.</ul>

    <p>Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:</p>
<ul>
  <li>
    <strong>Nombre de la persona o departamento de datos personales:</strong> Marcos Llanos
  </li>
  <li>
    <strong>Domicilio:</strong> calle Clavel, colonia Aviación Civil, ciudad Huejutla de Reyes, municipio o delegación Huejutla de Reyes, C.P. 43000, en la entidad de Hidalgo, país México
  </li>
  <li>
    <strong>Correo electrónico:</strong> <a href="mailto:marcollanos91@hotmail.com">marcollanos9</a>
  </li>
  <li>
    <strong>Número telefónico:</strong> 8332367591
  </li>
</ul>

<p>Usted puede revocar su consentimiento para el uso de sus datos personales.</p>
<p>Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>

<p>Con relación al procedimiento y requisitos para la revocación de su consentimiento, le informamos lo siguiente:</p>

<ul>
  <li>
    <strong>¿A través de qué medios pueden acreditar su identidad el titular y, en su caso, su representante, así como la personalidad este último?</strong><br>
    INE, Pasaporte, Licencia de Conducir, Cartilla Militar, Acta de Nacimiento o CURP.
  </li>
  <li>
    <strong>¿Qué información y/o documentación deberá contener la solicitud?</strong><br>
    El nombre del Titular y Domicilio. Medio por el cual desea que se le dé respuesta.
  </li>
</ul>

<p>¿Cómo puede limitar el uso o divulgación de su información personal?</p>
<p>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios:</p>

<ul>
  <li>Enviando un correo a la siguiente dirección electrónica: <a href="mailto:marcollanos91@hotmail.com">marcollanos9.com</a></li>
  <li>Realizando una llamada telefónica al 8332367591</li>
  <li>Acudiendo directamente al consultorio dental</li>
</ul>

<p>¿Cómo puede conocer los cambios en este aviso de privacidad?</p>

<p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</p>

<p>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de nuestra página web <a href="http://www.dentalcrown.com.mx">www.dentalcrown.com.mx</a>.</p>


    <!-- Aquí iría el contenido del aviso de privacidad, secciones, información, etc. -->
  </section>
  <footer>
    <p>Última actualización: 23/09/2023</p>
  </footer>
</body>


<app-footerpublico></app-footerpublico>
