<app-headerpublico></app-headerpublico>

<title>Términos y condiciones - Consultorio Dental Crown</title>
  <link rel="stylesheet" href="terminosycondicionespublico.component.css">
<body>

  <header>

    <h1>Consultorio Dental Crown</h1>
    <p>Con domicilio en calle Clavel, colonia Aviación Civil, ciudad Huejutla de Reyes, municipio o delegación Huejutla
      de Reyes, C.P. 43000, en la entidad de Hidalgo, país México</p>
  </header>
  <section>

    <h2>Términos y Condiciones</h2>
<p>¡Bienvenido a DentalCrown!</p>
<p>Consultorio Dental Crown es una clínica dental dedicada a brindar sus servicios de cuidado bucal con el compromiso de garantizar a la salud oral a nuestros clientes.</p>
<p>Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web DentalCrown. La clínica se encuentra ubicada en la calle Clavel, colonia Aviación Civil, ciudad Huejutla de Reyes, municipio o delegación Huejutla de Reyes, C.P. 43000, en la entidad de Hidalgo, país México, puedes ponerte en contacto vía correo electrónico o teléfono:</p>
<p><strong>Dr. Marco Antonio Llanos Flores</strong></p>
<ul>
  <li>Teléfono: 8332367591</li>
  <li>Correo electrónico: <a href="mailto:marcollanos91@hotmail.com"></a></li>
</ul>

<h3>Descripción del servicio</h3>
<p>DENTALCROWN permite a los usuarios agendar citas para servicios dentales. Los usuarios pueden seleccionar el tipo de tratamiento, la fecha y la hora convenientes, así como proporcionar información personal necesaria para agendar su cita de forma rápida y sencilla.</p>

<h3>Registro de cuenta</h3>
<p>Para utilizar el Servicio los usuarios deberán registrarse o crear una cuenta de Usuario, proporcionando todos los datos o información requeridos de forma completa y veraz. De lo contrario, el Servicio no estará disponible.</p>
<p>Los usuarios son responsables de mantener sus credenciales de inicio de sesión confidenciales y seguras. Por este motivo, los Usuarios también deben elegir contraseñas que cumplan con los más altos estándares de seguridad permitidos por esta aplicación.</p>
<p>Al registrarse, los Usuarios aceptan ser totalmente responsables de todas las actividades que ocurran bajo su nombre de usuario y contraseña.</p>
<p>Los Usuarios están obligados a informar de forma inmediata e inequívoca al Propietario a través de los datos de contacto indicados en este documento, si creen que su información personal, incluidas, entre otras, cuentas de Usuario, credenciales de acceso o datos personales, han sido violadas, divulgadas indebidamente o robadas.</p>

<h3>Información sobre asignación de riesgos, responsabilidad y descargos de responsabilidad</h3>
<p>Es importante que nuestros usuarios comprendan que la información proporcionada al agendar citas debe ser precisa y completa. DentalCrown no asume responsabilidad por errores o inexactitudes en la información proporcionada por los usuarios. Nos reservamos el derecho de modificar o cancelar citas según sea necesario, notificando a los usuarios afectados.</p>
<p>Al adquirir una cita</p>

<h3>Responsabilidad de los usuarios</h3>
<p>El usuario es responsable de proporcionar información precisa y completa al utilizar nuestros servicios. Cualquier información incorrecta o incompleta que resulte en pérdidas, daños o inconvenientes no será responsabilidad de nuestra empresa.</p>

<h3>Cancelaciones y Cambios en las Citas</h3>
<p>Las cancelaciones y cambios en las citas deben realizarse con un aviso previo de al menos 24 horas. Nos reservamos el derecho de establecer políticas específicas sobre tarifas por cancelación y reembolsos.</p>

<h3>Limitaciones de responsabilidad</h3>
<p>No nos hacemos responsables por cualquier pérdida, daño o inconveniente que pueda surgir del uso de nuestro servicio de agenda de citas. Nuestra responsabilidad está limitada a lo dispuesto por la ley aplicable.</p>

<h3>Aceptación de Términos</h3>
<p>Al utilizar nuestros servicios, el usuario acepta plenamente los términos y condiciones establecidos en esta sección. Es responsabilidad del usuario revisar periódicamente estos términos, ya que podrían actualizarse sin previo aviso.</p>

<h3>Condiciones de Uso o Compra</h3>

<h4>Requisitos de Edad</h4>
<p>El uso de nuestros servicios está sujeto a requisitos de edad específicos. Al acceder o utilizar nuestros servicios, el usuario confirma que cumple con los requisitos de edad establecidos. En caso contrario, se requiere el consentimiento de un padre, tutor legal u otra autoridad competente.</p>

<h4>Registro de Cuenta</h4>
<p>Para acceder a ciertas funciones o servicios, es necesario registrar una cuenta. El usuario se compromete a proporcionar información precisa y completa durante el proceso de registro. El usuario es responsable de mantener la confidencialidad de la información de la cuenta y notificar a la empresa de inmediato sobre cualquier uso no autorizado.</p>

<h4>Modificaciones en las Condiciones</h4>
<p>La empresa se reserva el derecho de modificar, actualizar o cambiar las condiciones de uso o compra en cualquier momento. Los usuarios serán notificados de tales cambios, y el uso continuado de nuestros productos o servicios después de dichas modificaciones constituirá la aceptación de las nuevas condiciones.</p>

<h4>Aceptación de Condiciones</h4>
<p>El acceso y uso continuado de nuestros servicios implica la aceptación de todas las condiciones de uso o compra establecidas en esta sección.</p>

<h3>Información de seguridad</h3>
<p>Los usuarios deben seguir las instrucciones proporcionadas por los profesionales de DENTALCROWN para garantizar una recuperación adecuada. Cualquier duda o problema debe ser comunicado de inmediato a la clínica. Todos los procedimientos y tratamientos se realizan siguiendo estrictas medidas de seguridad e higiene.</p>
<p>Como usuario de nuestro sitio web, tiene el derecho de navegar por nuestro sitio y utilizar nuestros servicios para programar citas. Sin embargo, no tienes permiso para copiar, modificar, distribuir, vender o alquilar ninguna parte de nuestros servicios o software. No se permite el uso no autorizado o la reproducción de contenido sin el consentimiento previo de DentalCrown.</p>

<h3>Información relativa a los métodos de pago</h3>
<p>Los métodos de pago aceptados se detallan en la plataforma de agendamiento. El pago se realiza una vez que se agenda la cita.</p>

<p>Para cualquier consulta, problema o comentario después de haber utilizado nuestros

  </section>
  <footer>
    <p>Última actualización: 23/09/2023</p>
  </footer>
</body>

<app-footerpublico></app-footerpublico>
