<app-header></app-header>

<div class="container">
  <div class="form-wrapper">
    <h1>AGENDAR CITA</h1>
    <link rel="stylesheet" href="agendar.component.css">

    <form [formGroup]="myForm" (submit)="addCita()">
      <!-- FECHA -->
      <div class="form-group col-md-6">
        <label for="">Fecha</label>
        <div class="input-group">
          <input formControlName="fecha" type="date" class="form-control" id="campoFecha" required>
          <div class="input-group-append">
            <span class="input-group-text custom-icon-bg" *ngIf="myForm.get('fecha')?.valid && myForm.get('fecha')?.touched">
              <i class="fas fa-check-circle text-success"></i>
            </span>
            <span *ngIf="myForm.get('fecha')?.invalid && myForm.get('fecha')?.touched"></span>
          </div>
        </div>
        <div class="error-message text-danger" *ngIf="myForm.get('fecha')?.hasError('required') && myForm.get('fecha')?.touched">
          <i class="fas fa-exclamation-circle"></i> El campo es obligatorio.
        </div>
        <div class="error-message text-danger" *ngIf="myForm.get('fecha')?.hasError('futureDate') && myForm.get('fecha')?.touched">
          <i class="fas fa-exclamation-circle"></i> La fecha no puede ser pasada.
        </div>
        <div class="error-message text-danger" *ngIf="myForm.get('fecha')?.hasError('pastDate') && myForm.get('fecha')?.touched">
          <i class="fas fa-exclamation-circle"></i> La fecha no puede ser anterior a la fecha actual.
        </div>
      </div>

      <!-- HORA -->
      <div class="form-group col-md-6">
        <label for="">Seleccione la Hora:</label>
        <div class="input-group">
          <select formControlName="hora" class="form-control" id="campoHora" (change)="mostrarSeleccion($event)">
            <option value="" disabled selected>Selecciona</option>
            <option value="09:00:00">9:00 AM</option>
            <option value="09:30:00">9:30 AM</option>
            <option value="10:00:00">10:00 AM</option>
            <option value="10:30:00">10:30 AM</option>
          </select>
          <div class="input-group-append">
            <span *ngIf="myForm.get('hora')?.invalid && myForm.get('hora')?.touched"></span>
          </div>
        </div>
        <div class="error-message text-danger" *ngIf="myForm.get('hora')?.hasError('required') && myForm.get('hora')?.touched">
          <i class="fas fa-exclamation-circle"></i> El campo es obligatorio.
        </div>
      </div>

      <!-- MOTIVO -->
      <div class="form-group col-md-6">
        <label for="">Motivo:</label>
        <div class="input-group">
          <select formControlName="motivo" class="form-control" id="campoMotivo">
            <option value="" disabled selected>Selecciona</option>
            <option *ngFor="let servicio of servicios" [value]="servicio.nombre">{{ servicio.nombre }}</option>
                   
          </select>
          <div class="input-group-append">
            <span *ngIf="myForm.get('motivo')?.invalid && myForm.get('motivo')?.touched"></span>
          </div>
        </div>
        <div class="error-message text-danger" *ngIf="myForm.get('motivo')?.invalid && myForm.get('motivo')?.touched">
          <i class="fas fa-exclamation-circle"></i> El campo es obligatorio.
        </div>
      </div>

      <!-- DENTISTA -->
      <div class="form-group col-md-6">
        <label for="">Dentista:</label>
        <div class="input-group">
          <select formControlName="dentista" class="form-control" id="campoDentista" (change)="mostrarSeleccion($event)">
            <option value="" disabled selected>Selecciona</option>
            <option value="Juan Perez">Juan Perez</option>
            <option value="Luis Hernandez">Luis Hernandez</option>
            <option value="Steven Univers">Steven Univers</option>
          </select>
          <div class="input-group-append">
            <span *ngIf="myForm.get('dentista')?.invalid && myForm.get('dentista')?.touched"></span>
          </div>
        </div>
        <div class="error-message text-danger" *ngIf="myForm.get('dentista')?.hasError('required') && myForm.get('dentista')?.touched">
          <i class="fas fa-exclamation-circle"></i> El campo es obligatorio.
        </div>
      </div>


      <br>
      <button type="submit" [disabled]="!myForm.valid" [ngClass]="{'valid-button': myForm.valid, 'invalid-button': !myForm.valid}">Agendar</button>
    </form>
  </div>
</div>

<app-footer></app-footer>


<style>
  .header {
    /* Estilos para el encabezado */
    background-color: #f0f0f0;
    padding: 10px;
  }

  .title {
    /* Estilos para el título */
    color: #333;
    font-size: 24px;
    margin-top: 20px;
  }

  .appointment-form {
    /* Estilos para el formulario */
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    /* Estilos para los campos de entrada */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
  }

  .error-message {
    /* Estilos para los mensajes de error */
    margin-top: 5px;
    font-size: 14px;
  }

  .submit-button {
    /* Estilos para el botón de enviar */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .submit-button:hover {
    /* Estilos al pasar el mouse sobre el botón de enviar */
    background-color: #0056b3;
  }

  .footer {
    /* Estilos para el pie de página */
    background-color: #f0f0f0;
    padding: 10px;
  }
</style>